.checkoutItemContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.imageContainerCheckout {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}
.imageContainerCheckout img {
  width: 50%;
}

.checkOutDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
}
.nameItem {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.featuresItem {
  width: 100%;
  font-size: 1rem;
  color: #525252;
  text-align: left;
}

.quantityItem {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 3 / 2 / 4;
}
.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}
.quantityNumber {
  font-size: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.priceItem {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 4 / 2 / 5;
}
.removeButtonItem {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 5 / 2 / 6;
}
