.cartModalWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 40;
}
.cartBackDrop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.cartModalContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  background-color: white;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cartModalContainer span {
  font-size: 1.1rem;
  font-weight: normal;
}

.cartTitle {
  padding: 30px;
  justify-content: flex-start;
  border-bottom: 1px solid #e2e2e2;
}
.cartTitle h1 {
  padding: 0;
  margin: 0;
}
.cartItems {
  margin: 0;
  list-style: none;
  height: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 30px;
}
.cartItems li:first-child {
  padding-bottom: unset;
}
.cartItems li {
  padding-bottom: 20px;
}
.cartBtn {
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e2e2e2;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
