.shopContainer {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  padding-top: 100px;
}

.categoryContainer {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.categoryDisplayContainer {
  width: 100%;
  display: flex;
}
