.button-container {
  margin-top: 1rem;
  width: 170px;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #20dbc2;
  color: white;
}

.button-container:hover {
  background-color: #00bfa6;
}

.button-container.googlebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 170px;
  background-color: #1d80ed !important;
}

.button-container.googlebtn p {
  margin-left: 10px;
}

.button-container.googlebtn:hover {
  background-color: #1326d3 !important;
}

.googleSignIne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #adadad;
  padding-top: 1rem;
}

.button-container.btnChange {
  margin-left: 10px;
  width: 72px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 18px;
  background-color: #4e15cc;
  color: white;
}

.button-container.btnChange:hover {
  background-color: #311a84;
}
.cartButton {
  background-color: #20dbc2;
  color: black;
}

.button-container.cartDisplay {
  width: 100%;
}
.button-container.cartDisplay:hover {
  color: white;
  background-color: black;
}

.button-container.disabled {
  background-color: #adadad;
}

.button-container.disabledCart {
  width: 100%;
  background-color: #adadad;
}
