.swiper-pagination-fraction,
.swiper-pagination-custom {
  bottom: unset !important;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 45% !important;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: 15px;
}
.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next {
  right: unset;
  left: 70px !important;
}
