.featuredSection {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.featuredContent {
  width: 100%;
  margin: 40px 0px;
}
.title {
  font-size: 3rem;
  padding-bottom: 10px;
  text-decoration: underline;
}
.featuredList {
  height: 600px;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
